<div>
  <h2 id="page-heading" data-cy="LimitConfPointHeading">
    <span jhiTranslate="lbApp.limitConfPoint.home.title">Limit Conf Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lbApp.limitConfPoint.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-limit-conf-point-my-suffix"
        [routerLink]="['/limit-conf-point-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lbApp.limitConfPoint.home.createLabel"> Create a new Limit Conf Point </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="limitConfPoints?.length === 0">
    <span jhiTranslate="lbApp.limitConfPoint.home.notFound">No limitConfPoints found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="limitConfPoints && limitConfPoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="lbApp.limitConfPoint.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombreValue">
            <span jhiTranslate="lbApp.limitConfPoint.nombreValue">Nombre Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="limit">
            <span jhiTranslate="lbApp.limitConfPoint.limit">Limit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="limitStatut">
            <span jhiTranslate="lbApp.limitConfPoint.limitStatut">Limit Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointOfSale.id">
            <span jhiTranslate="lbApp.limitConfPoint.pointOfSale">Point Of Sale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let limitConfPoint of limitConfPoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/limit-conf-point-my-suffix', limitConfPoint.id, 'view']">{{ limitConfPoint.id }}</a>
          </td>
          <td>{{ limitConfPoint.nombreValue }}</td>
          <td>{{ limitConfPoint.limit }}</td>
          <td jhiTranslate="{{ 'lbApp.TypeOption.' + limitConfPoint.limitStatut }}">{{ limitConfPoint.limitStatut }}</td>
          <td>
            <div *ngIf="limitConfPoint.pointOfSale">
              <a [routerLink]="['/point-of-sale-my-suffix', limitConfPoint.pointOfSale?.id, 'view']">{{
                limitConfPoint.pointOfSale?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/limit-conf-point-my-suffix', limitConfPoint.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/limit-conf-point-my-suffix', limitConfPoint.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(limitConfPoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="limitConfPoints && limitConfPoints.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
