<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-coupon-gratuit-conf-my-suffix-heading"
        data-cy="CouponGratuitConfCreateUpdateHeading"
        jhiTranslate="lbApp.couponGratuitConf.home.createOrEditLabel"
      >
        Create or edit a Coupon Gratuit Conf
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.typeOption" for="field_typeOption">Type Option</label>
          <select class="form-control" name="typeOption" formControlName="typeOption" id="field_typeOption" data-cy="typeOption">
            <option [ngValue]="null">{{ 'lbApp.TypeOption.null' | translate }}</option>
            <option *ngFor="let typeOption of typeOptionValues" [value]="typeOption">
              {{ 'lbApp.TypeOption.' + typeOption | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('typeOption')!.invalid && (editForm.get('typeOption')!.dirty || editForm.get('typeOption')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('typeOption')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.maximumCount" for="field_maximumCount">Maximum Count</label>
          <input
            type="number"
            class="form-control"
            name="maximumCount"
            id="field_maximumCount"
            data-cy="maximumCount"
            formControlName="maximumCount"
          />
          <div
            *ngIf="editForm.get('maximumCount')!.invalid && (editForm.get('maximumCount')!.dirty || editForm.get('maximumCount')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maximumCount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maximumCount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.obstinateAmount" for="field_obstinateAmount"
            >Obstinate Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="obstinateAmount"
            id="field_obstinateAmount"
            data-cy="obstinateAmount"
            formControlName="obstinateAmount"
          />
          <div
            *ngIf="
              editForm.get('obstinateAmount')!.invalid &&
              (editForm.get('obstinateAmount')!.dirty || editForm.get('obstinateAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('obstinateAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('obstinateAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.statut" for="field_statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'lbApp.UserStatut.null' | translate }}</option>
            <option *ngFor="let userStatut of userStatutValues" [value]="userStatut">
              {{ 'lbApp.UserStatut.' + userStatut | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('statut')!.invalid && (editForm.get('statut')!.dirty || editForm.get('statut')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('statut')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 4 }"
            >
              This field is required to be at least 4 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModifiedBy')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 4 }"
            >
              This field is required to be at least 4 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lbApp.couponGratuitConf.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
