<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userPaymentConf">
      <h2 data-cy="userPaymentConfDetailsHeading"><span jhiTranslate="lbApp.userPaymentConf.detail.title">User Payment Conf</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lbApp.userPaymentConf.id">Id</span></dt>
        <dd>
          <span>{{ userPaymentConf.id }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'lbApp.UserPaymentType.' + userPaymentConf.type }}">{{ userPaymentConf.type }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.total">Total</span></dt>
        <dd>
          <span>{{ userPaymentConf.total }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.createdBy">Created By</span></dt>
        <dd>
          <span>{{ userPaymentConf.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ userPaymentConf.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ userPaymentConf.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="lbApp.userPaymentConf.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ userPaymentConf.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-payment-conf-my-suffix', userPaymentConf.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
